---
layout: default
title: Home
---

OrthoFinder is a software program for phylogenetic orthology inference and comparative genomics. What that means is that you provide it with the genes of the species you are interested in and it will:
* infer a complete set of rooted gene trees for those genes
* infer all orthology relationships between the genes using the gene trees
* infer gene duplication events and map them to the gene and species trees
* infer a rooted species tree
* provide comparative genomics statistics for your species

Even though OrthoFinder uses a more rigourous, gene-tree based approach instead of the standard BLAST-based approach to ortholog inference it is incredibly fast! The gene-tree based approach also allows it to calculate all the additional information listed above. 